<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LilKaoX Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.5/axios.min.js" integrity="sha512-TjBzDQIDnc6pWyeM1bhMnDxtWH0QpOXMcVooglXrali/Tj7W569/wd4E8EDjk1CwOAOPSJon1VfcEt1BI4xIrA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        body{
            margin: 60px 200px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @media only screen and (max-width: 450px) {
            body{
                margin: 20px 20px;
            } 
        }
    </style>
</head>
<body style="flex-direction: column;">
    <div id="alert" style="margin: 10px;">

    </div>
    
    <div class="card">
        <div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
            <img src="../image/logo.png" width="170px" alt="">
            <h1 style="font-size: 2.3rem; font-weight: 700;">Lil KaoX Login</h1>
        </div>
        <div class="card-content">
            <div class="field m-3">
                <label class="label">Username</label>
                <div class="control">
                    <input class="input" id="username" type="text" placeholder="Text input" value="test001">
                    <p id="pUsername" class="help is-success"></p>
                </div>
            </div>      
            <div class="field m-3">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input" id="password" type="password" placeholder="Text input" value="bulma">
                    <p id="pPassword" class="help is-success"></p>
                </div>
            </div> 
            <div class="buttons">
                <button class="button is-success" type="button" onclick="onLogin()">Login</button>  
                <button class="button is-danger" onclick="window.location.href = '/register'">Register</button>
            </div>
        </div>
    </div>

    <script src="../js/login.js"></script>

</body>
</html>